nav a:hover,
nav a:focus {
  text-decoration: underline;
}

.skip {
     display: inline;
     position: absolute;
     top: -40px;
     left: 0;
     z-index: 100;
     padding: 8px;
     text-decoration: none;
   }

.skip:focus {
     top: 60px;
     outline: none;
    border: none;
   }

:focus {
     border: 2px solid #000;
   }

.menu {
  padding-left: 10px;
  color: #00274C;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00274C;
  overflow: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a, .sidenav a:visited {
  display: grid;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  grid-template-rows: repeat(4, 25%);
  color: white;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #FFCB05;
}

.head {
    display: grid;
    row-gap: 30px;
  }

  .head >:first-child {
    place-self: center;
    border-radius: 20px;
    border: 50px black;
  }

  h1 {
    color: white;
    background-color: #00274C !important;
    font-size: 40px !important;
  }

  h2 {
    color: #00274C;
    padding: 5px !important;
    padding-top: 10px !important;
    font-size: 30px !important;
  }

  h3 {
    padding: 5px !important;
  }

  p {
    color: #00274C;
    padding: 10px !important;
    font-size: 20px !important;
  }

  ul {
    color: #00274C;
    padding: 30px !important;
    font-size: 25px !important;
  }

  footer p {
    color: white;
    background-color: #00274C;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: #00274C;
  }

  footer a:visited, footer a:link {
    text-decoration: none;
    color: white;
  }

  .section1 {
    display: grid;
    row-gap: 10px;
  }

.container {
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 30px;
     color: #00274C;
     padding: 5px;
     padding-top: 20px;
   }

@media (min-width: 800px) {
  .topnav {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: 52.5px;
      height: 65px;
      width: 100%;
      position: fixed;
      align-items: center;
      top: 0;
      background-color: #00274C;
    }

    .topnav a {
      font-size: 35px;
      color: white;
      text-decoration: none;
      align-self: center;
      text-align: center;
      width: 99%;
      height: 100%;
      border-width: 5px;
      border-color: white;
      border-style: solid;
      border-bottom: none;
      border-left: none;
      padding-top: 20px;
    }

    .topnav >:last-child {
      border-right: none;
    }

    .topnav a:hover, .topnav a:focus {
      color: #FFCB05;
      /* border-color: #FFCB05; */
    }

    .head >:first-child {
      margin-top: 100px;
    }

    /* figure {
      display: grid !important;
      grid-template-columns: auto;
      align-items: center;
      justify-content: center;
    } */

    p {
      font-size: 25px !important;
    }

    h2 {
      font-size: 50px !important;
      padding: 30px !important;
      padding-left: 15px !important;
    }

    h3 {
      font-size: 30px !important;
      padding: 10px !important;
      padding-top: 30px !important;
    }

    article {
      display: grid !important;
      grid-template-columns: 60% 40%;
      /* grid-template-rows: min-content; */
      padding-top: 50px !important;
    }

    article h3 {
      grid-column: 1;
      grid-row: 1;
      justify-content: center;
      align-items: center;
    }

    article p {
      grid-column: 1;
      grid-row: 2;
    }

    article figure {
      grid-row: span 2;
      grid-column: 2;
      justify-self: center !important;
      align-self: center !important;
    }

    .tutor article {
      display: grid !important;
      grid-template-columns: 60% 40%;
      grid-template-rows: min-content min-content auto;
      padding-top: 50px !important;
    }

    .tutor article h3 {
      grid-column: 1;
      grid-row: 1;
      justify-content: center;
      align-items: center;
    }

    .tutor article p {
      grid-column: 1;
      grid-row: 2;
    }

    .tutor article ul {
      grid-row: 3;
    }

    .tutor article figure {
      grid-row: span 3;
      grid-column: 2;
      justify-self: center !important;
      align-self: center !important;
    }

    .section2 article {
      display: grid !important;
      grid-template-columns: 30% auto;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
    }

    .section2 article h3 {
      grid-column: 1;
    }

    .section2 article p {
      grid-column: 2;
      grid-row: 1;
      padding-right: 50px !important;
      padding-left: 50px !important;
    }

    .section3 article {
      display: grid !important;
      grid-template-columns: min-content auto;
      align-items: center;
      justify-content: start;
      padding-top: 40px;
    }

    .section3 article h3 {
      grid-column: 1;
    }

    .section3 article p {
      grid-column: 2;
      padding-right: 50px !important;
      padding-left: 50px !important;
    }

}
